* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baskervville', serif;
    scroll-behavior: smooth;
}
$color-primario : #168490;
$color-secundario: #0B5159;
$color-claro: #F2F2F2;
$color-obscuro: #0D0D0D;

.contenedor-proyecto {
    width: 100%;
    height: 60vh;
    display: flex;
        .proyecto {
            background-color: $color-claro;
            flex: 1;
            display: flex;
            padding: 30px 0;
            .proyecto-texto {
                width: 70%;
                margin: auto;
                align-items: center;
                h1 {
                    font-size: 2.8rem;
                    color: $color-obscuro;
                }
                p {
                    margin-top: 15px;
                    font-size: 1.2rem;
                    color: $color-obscuro;
                    line-height: 140%;
                }
            }
        }
   .imagen-proyecto {
       background-image: url('../imagenes/proyecto.png');
       background-size: cover;
       background-position: right;
        flex: 1;
   }
}

.contenedor-exterior {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../imagenes/exterior.png');
    background-size: cover;
    .exterior {
        flex: 1;
        display: flex;
        width: 40%;
        margin: auto;
        padding: 30px 0;
        .exterior-texto {
            margin-left: 5%;
            align-items: center;
            width: 40%;
            h1 {
                font-size: 2.9rem;
                color: $color-claro;
            }
            p {
                margin-top: 15px;
                font-size: 1.3rem;
                color: $color-claro;
                line-height: 140%;
            }
        }
    }
}

.contenedor-ambientes {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row-reverse;
        .ambientes {
            background-color: $color-secundario;
            flex: 1;
            display: flex;
            padding: 30px 0;
            .ambientes-texto {
                width: 70%;
                margin: auto;
                align-items: center;
                h1 {
                    font-size: 2.8rem;
                    color: $color-claro;
                }
                p {
                    margin-top: 15px;
                    font-size: 1.2rem;
                    color: $color-claro;
                    line-height: 140%;
                }
            }
        }
    .imagenes-ambientes {
        flex: 1;
        display: flex;
        flex-direction: column;

    }
   .imagen-ambientes {
       background-position: center;
       background-image: url('../imagenes/ambientes.png');
       background-size: cover;
        flex: 1;
   }
   .imagen-ambientes2 {
    background-position: center;
    background-image: url('../imagenes/ambientes2.jpg');
    background-size: cover;
    flex: 1;
}
}

.contenedor-piscina {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../imagenes/piscina.png');
    background-size: cover;
    .piscina {
        flex: 1;
        display: flex;
        width: 40%;
        margin: auto;
        padding: 30px 0;
        .piscina-texto {
            margin-left: 5%;
            align-items: center;
            width: 40%;
            h1 {
                font-size: 2.9rem;
                color: $color-claro;
            }
            p {
                margin-top: 15px;
                font-size: 1.3rem;
                color: $color-claro;
                line-height: 140%;
            }
        }
    }
}

.contenedor-seguridad {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row-reverse;
        .seguridad {
            background-color: $color-secundario;
            flex: 1;
            display: flex;
            padding: 30px 0;
            .seguridad-texto {
                width: 70%;
                margin: auto;
                align-items: center;
                h1 {
                    font-size: 2.8rem;
                    color: $color-claro;
                }
                p {
                    margin-top: 15px;
                    font-size: 1.2rem;
                    color: $color-claro;
                    line-height: 140%;
                }
            }
        }
   .imagen-seguridad {
       background-position: right;
       background-image: url('../imagenes/seguridad.png');
       background-size: cover;
        flex: 1;
   }
}

.contenedor-amenities {
    width: 100%;
    height: auto;
    display: flex;
    background-color: $color-claro;
        .subcontenedor-amenities {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5rem 0 5rem 0;
            .amenities {
                width: 70%;
                margin: auto; 
                h1 {
                    font-size: 2.8rem;
                    color: $color-obscuro;
                }
                p {
                    margin: 20px 0 20px 0;
                    font-size: 1.2rem;
                    color: $color-obscuro;
                    line-height: 140%;
                }
                .amenities-contenedores {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    gap: 20px;
                    p {
                        color: $color-obscuro;
                        font-size: 1.1rem;
                    }
                    i {
                        margin-right: 15px;
                        color: $color-primario;
                        font-size: 2rem;
                    }
                    i:hover {
                        color: $color-secundario;
                        cursor: pointer;
                        transition: .3s;

                    }
                }
            }
        }
   .imagen-amenities {
       background-position: center;
       background-image: url('../imagenes/amenities.png');
       background-size: cover;
        flex: 1;
   }
}
.info-popover {
    font-size: 1.1rem;
    color: $color-obscuro;
}

.contenedor-ubicacion {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row-reverse;
        .ubicacion {
            background-color: $color-primario;
            flex: 1;
            display: flex;
            padding: 30px 0;
            .ubicacion-texto {
                width: 70%;
                margin: auto;
                align-items: center;
                h1 {
                    font-size: 2.8rem;
                    color: $color-claro;
                }
                p {
                    margin-top: 15px;
                    font-size: 1.2rem;
                    color: $color-claro;
                    line-height: 140%;
                }
                .ubi-exacta {
                    font-weight: 600;
                    letter-spacing: 1px;
                    font-size: 1.1rem;
                }
            }
        }
   .imagen-ubicacion {
       background-position: left;
       background-image: url('../imagenes/ubicacion_mapa.jpg');
       background-size: cover;
        flex: 1;
   }
}
.contenedor-contacto {
    width: 100%;
    height: 90vh;
    display: flex;
        .contacto {
            background-color: $color-primario;
            flex: 1;
            display: flex;
            .contacto-texto {
                width: 70%;
                margin: auto;
                align-items: center;
                h1 {
                    font-size: 2.8rem;
                    color: $color-claro;
                }
                p {
                    margin-top: 15px;
                    font-size: 1.2rem;
                    color: $color-claro;
                    line-height: 140%;
                }
            }
        }
    .contenedor-formulario {
        flex: 1;
        background: $color-secundario;
        display: flex;
        .formulario {
            width: 60%;
            margin: auto;
            align-items: center;
            form {
                display: flex;
                flex-direction: column;
                input {
                    border-radius: 3px;
                    padding: 8px;
                    margin: 5px 0 5px 0;
                    outline: 0;
                    border: 0;
                    border: 2px solid $color-claro;
                    background-color: $color-claro;
                }
                #mensaje {
                    max-height: 150px;
                    border-radius: 3px;
                    padding: 8px;
                    margin: 5px 0;
                    outline: 0;
                    border: 0;
                    border: 2px solid $color-claro;
                    background-color: $color-claro;
                }
                input:focus {
                    border: 2px solid $color-primario;
                }
                textarea:focus {
                    border: 2px solid $color-primario;
                }
                #enviar {
                    margin-top: 10px;
                    width: 40%;
                    border-radius: 10px;
                    font-weight: bold;
                    background-color: $color-secundario;
                    border: 2px solid $color-claro;
                    color: $color-claro;
                }
                #enviar:hover {
                    background-color: #137985;
                    transition: .3s;
                }
            }
        }
    }
}
//FOOTERs
footer {
    background-color: #dbdbdb;
    width: 100%;
    height: auto;
    color: $color-obscuro;
    a {
        color: $color-obscuro;
    }
    .subcontenedor-footer {
        width: 90%;
        margin: auto;
        display: flex;
        padding: 30px 0 30px 0;
        justify-content: space-between;
        .info-footer {
            display: flex;
            flex: 1;
            div {
               flex: 1;
               margin: 20px;
               p{
                   text-align: center;
                   line-height: 146%;
               }
               .proyectoTituloFooter {
                    font-weight: 600;
                    font-size: 1rem;
               }
               .proyectoInfoFooter {
                   font-size: 1rem;
               }
               .fa-instagram {
                   margin-right: 5px;
                   font-size: 1.1rem;
               }
               a {
                   font-weight: 700;
               }
               img {
                   display: block;
                   margin: 20px auto;
               }
            }
        }
        .data-footer {
            flex: 1;
            align-self: center;
            display: flex;
            justify-content: flex-end;
            .data-footer_texto {
                margin-left: 20px;
                align-self: center;
                font-size: 1.5rem;
                
            }
        }
    }
}

//MedaiQuerys
@media (max-width: 1500px) {
    .contenedor-ubicacion {
        height: 70vh;
        display: flex;
        flex-direction: row-reverse;
       .imagen-ubicacion {
            flex: 2;
       }
    }
}
@media (max-width: 1300px) {
    .contenedor-ubicacion {
        height: 60vh;
        display: flex;
        flex-direction: row-reverse;
            .ubicacion {
                flex: 1;
                .ubicacion-texto {
                    h1 {
                        font-size: 2.2rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                    .ubi-exacta {
                        font-size: 1rem;
                    }
                }
            }
       .imagen-ubicacion {
            flex: 3;
       }
    }
}
@media (max-width: 1140px) {
    .contenedor-ubicacion {
        height: 100vh;
        display: flex;
        flex-direction: column;
            .ubicacion {
                flex: 1;
                .ubicacion-texto {
                    h1 {
                        font-size: 2.7rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                    .ubi-exacta {
                        font-size: 1.2rem;
                    }
                }
            }
        .imagen-ubicacion {
            flex: 2;
       }
    }
}
@media (max-width: 980px) {
    .contenedor-amenities {
            .subcontenedor-amenities {
                display: flex;
                flex-direction: column;
                .amenities {
                    width: 80%;
                    h1 {
                        font-size: 2.6rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                    .amenities-contenedores {
                        display: grid;
                        grid-template-columns: repeat(5, auto);
                        gap: 40px;
                        p {
                            font-size: 1rem;

                        }
                        i {
                            margin: auto;
                            font-size: 1.9rem;
                        }
                    }
                }
            }
       .imagen-amenities {
           display: none;
       }
    }
    .contenedor-ubicacion {
        height: 90vh;
    }
    footer {
        .subcontenedor-footer {
            width: 95%;
            flex-direction: column;
        }
    }
}
@media (max-width: 810px) {
    .contenedor-amenities {
        .subcontenedor-amenities {
            .amenities {
                width: 80%;
                h1 {
                    font-size: 2.6rem;
                }
                p {
                    font-size: 1.2rem;
                }
                .amenities-contenedores {
                    gap: 20px;
                }
            }
        }
    }
    .contenedor-ubicacion {
        height: 80vh;
            .ubicacion {
                flex: 1;
                .ubicacion-texto {
                    h1 {
                        font-size: 2.4rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                    .ubi-exacta {
                        font-size: 1rem;
                    }
                }
            }
        .imagen-ubicacion {
            flex: 2;
       }
    }
}
@media (max-width: 780px) {
    .contenedor-proyecto .proyecto .proyecto-texto {
        width: 80%;
        h1 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .contenedor-ambientes {
        flex-direction: column;
        height: 100vh;
        .ambientes .ambientes-texto {
        width: 80%;
            h1 {
                font-size: 2.2rem;
            }
            p {
                font-size: 1.1rem;
            }
        }
        .imagenes-ambientes {
            height: auto;
            flex: 2;
        }
    }
    .contenedor-exterior .exterior .exterior-texto {
        width: 70%;
        h1 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .contenedor-piscina .piscina .piscina-texto {
        width: 70%;
        h1 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .contenedor-seguridad .seguridad .seguridad-texto {
        width: 80%;
        h1 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .contenedor-ubicacion {
        height: 70vh;
        display: flex;
        flex-direction: column;
            .ubicacion {
                flex: 1;
                .ubicacion-texto {
                    h1 {
                        font-size: 2.2rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                    .ubi-exacta {
                        font-size: 1.1rem;
                    }
                }
            }
        .imagen-ubicacion {
            flex: 2;
       }
    }
    .contenedor-contacto .contacto .contacto-texto {
        width: 80%;
        h1 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    
    .contenedor-amenities {
        .subcontenedor-amenities {
            padding: 5rem 0 5rem 0;
            .amenities {
                width: 80%;
                h1 {
                    font-size: 2.2rem;
                }
                p {
                    font-size: 1.1rem;
                }
                .amenities-contenedores {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    gap: 20px;
                    p {
                        display: flex;
                        flex-direction: column;
                        margin: auto;
                        font-size: 1rem;
                        i {
                            display: block;
                            margin: auto auto 10px auto;
                        }
                }
                    
            }
        }
    }
}
}
@media (max-width: 720px) {
    .contenedor-amenities {
        .subcontenedor-amenities {
            .amenities {
                width: 80%;
                h1 {
                    font-size: 2.6rem;
                }
                p {
                    font-size: 1.2rem;
                }
                .amenities-contenedores {
                    grid-template-columns: repeat(2, auto);
                    gap: 22px;
                    p {
                        font-size: 1rem;

                    }
                    i {
                        margin: auto;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .contenedor-proyecto { 
        .proyecto .proyecto-texto {
            width: 90%;
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
        .imagen-proyecto {
            display: none;
        }
    }
    .contenedor-exterior { 
        .exterior .exterior-texto {
            width: 90%;
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    .contenedor-ambientes { 
        .ambientes .ambientes-texto {
            width: 90%;
            margin: auto;
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
        .imagen-ambientes {
            display: none;
        }
    }
    .contenedor-piscina { 
        .piscina .piscina-texto {
            width: 90%;
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    .contenedor-seguridad { 
        .seguridad .seguridad-texto {
            width: 90%;
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
        .imagen-seguridad {
            display: none;
        }
    }
    .contenedor-ubicacion { 
        height: 100vh;
        .ubicacion {
            padding: 30px 0;
            .ubicacion-texto {
                width: 90%;
                h1 {
                    font-size: 2.1rem;
                }
                p {
                    font-size: .9rem;
                }
            }
        }
    }
    .contenedor-contacto {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        .contacto {
            padding: 10px 0 0 0;
            background-color: $color-secundario;
        }
        .contenedor-formulario {
            flex: 3;
        }
    }
    footer {
        .subcontenedor-footer {
            .data-footer {
                .data-footer_texto {
                    font-size: 1.2rem;
                }
            }
        }
    }
    .contenedor-masterplan {
        .masterplan {
            width: 95%;
            h1 {
                font-size: 1.1rem;
            }
            p {
                font-size: 1rem;
            }
            .botones-masterplan {
                flex-direction: column;
            }
        }
    }
}
@media (max-width: 480px) {
    .contenedor-ubicacion {
        height: 80vh;
    }
}